#initially-hidden {
  display:none;
}

/* #initially-showing {

} */

#fadeIn {
  display:none;
}

/* #fadeOut {

} */

.light-background {
  background-color: #E6edf2;
}

.dark-background {
  background-color: #333739;
  color: #E6edf2;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
